.hiddenOverFlowSelect {
  height: 2em;
  overflow: visible;
}

.textgrid {
  display: grid;
  grid-template-columns: 49.5% 49.5%;
  column-gap: 1%;
  margin-left: auto;
  margin-right: auto;
}

.textareasurround {
  justify-self: stretch;
}

textarea {
  display: inline-block;
  width: calc(100% - 6px);
  height: 12vh;
  resize: none;
}