:root {
  --bgLite: ;
  --bgDark: hsl(275, 15%, 25%);
  --borderLite: ;
  --borderDark: hsl(275, 15%, 50%);
  --buttonLite: ;
  --buttonDark: ;
}

.ThemeButtonRect{
  width: 2.5em;
  height: 1.25em;
  display: inline-block;
  background-color: white;
  box-sizing: border-box; /*Inset border workaround*/
  border-style: solid;
  border-radius: 1.5em;
  border-width: -4px;
  border-color: gray;
  overflow: visible
}

.ThemeButtonOuter{
  transform: translate(-.125em, -.125em) translate(-2px, -4px)
}

.ThemeButtonButton{
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: black;
  height: 1.5em;
  width: 1.5em;
  border-radius: 2em;
}